VITE_SMARTTHINGS_CLIENT_ID=
VITE_SMARTTHINGS_BROKER_URL=http://localhost:8787
VITE_SMARTTHINGS_AUTHORIZE_URL=https://api.smartthings.com/oauth/authorize
VITE_SMARTTHINGS_SCOPES=r:locations:* r:rooms:* r:devices:* x:devices:*

SMARTTHINGS_CLIENT_ID=
SMARTTHINGS_CLIENT_SECRET=
SMARTTHINGS_ALLOWED_ORIGINS=http://localhost:5174
SMARTTHINGS_BROKER_PORT=8787
SMARTTHINGS_TOKEN_URL=https://api.smartthings.com/oauth/token